<template>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      <slot name="filter"></slot>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview" v-bind:key="'menu-item-' + item.id" v-for="item in orderAsc(items)">
          <a :href="item.url != '' ? item.url : '#'">
            <div v-html="item.icon" style="width: 20px;display: inline-block;"></div>
            <span v-html="item.name"></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu" style="">
            <li v-bind:key="submenu.id" v-for="submenu in orderAsc(item.submenus)">
              <a :href="submenu.url"><i class="fa fa-caret-right"></i> {{ submenu.name }} {{ submenu.id }}</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>

<script>
import _ from 'lodash'

export default {
  data: () => {
    return {
      searchableItem: '',
      searchableItems: [],
    }
  },
  props: {
    items: {
      default: []
    }
  },
  created() {
    this.getSearchableItems();
  },
  methods: {
    getSearchableItems() {
      _.each(this.items, (item) => {
        this.searchableItems.push(item)

        _.each(item.submenus, (submenu) => {
          this.searchableItems.push(submenu)
        });
      })
    },
    orderAsc(list) {
      return _.orderBy(list, 'position', 'asc');
    },
    mapIdNameCodeLabel(items) {
      return _.map(items, (item) => {
        item.code = item.id;
        item.label = item.name;
        return item;
      })
    },
    searchableItemsChanged() {
      window.location = this.searchableItem.url
    }
  }
}
</script>

<style lang="less">
// Global Variables
@import '../assets/less/variables';

// AdminLTE and Bootstrap
@import '../assets/bootstrap/bootstrap';
@import '../assets/admin-lte/AdminLTE';
@import '../assets/less/admin-lte-skin-blink';

// Blink
@import '../assets/less/general';
@import '../assets/less/navbar';
@import '../assets/less/input.less';
@import '../assets/less/v-select.less';
</style>

