<template>
  <header class="main-header">
    <button type="button" data-toggle="offcanvas" class="hamburger hamburger--collapse js-hamburger sidebar-toggle" @click="toggleMenu">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <a href="/" class="navbar-app-name">
        <img :src="logo" alt="blink">
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <!-- Notifications: style can be found in dropdown.less -->
          <app-notification :user="user"/>

            <!-- User Account Menu -->
            <li class="dropdown user user-menu">
              <!-- Menu Toggle Button -->
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" @click="toggleInfo">
                <!-- The user image in the navbar-->
                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                <span class="hidden-xs" v-html="user.name"></span>
                <i class="fa fa-fw fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu">
                <!-- The user image in the menu -->
                <li class="user-header">
                  <img :src="user.image" class="img-circle" alt="User Image">
                  <p>
                  {{ user.name }}

                  <small>
                    <a href="https://b-link.bild.com.br/releases" class="btn btn-warning btn-xs btn-block">
                      Versão 2.0
                    </a>
                  </small>
                  <a class="btn btn-xs btn-block  btn-default" title="Missão, Visão e Valores" href="#" data-toggle="modal" data-target="#modalMVV">
                    Missão, Visão e Valores
                  </a>
                  </p>

                </li>
                <!-- Menu Footer-->
                <li class="user-footer">
                  <div class="form-group">
                    <a href="/admin" class="btn btn-warning btn-block">Administrativo</a>
                  </div>
                  <div class="pull-left">
                    <a href="/perfil" class="btn btn-primary ">Perfil</a>
                  </div>
                  <div class="pull-right">
                    <button type="button" class="btn btn-danger" @click.prevent="logout()">
                      Sair
                    </button>
                  </div>
                </li>
              </ul>
            </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script>
/* eslint-disable */
import $ from 'jquery';
import Cookies from 'js-cookie'
import Notification from './Notification.vue'
import axios from 'axios';

export default{
  data: () => {
    return {
    }
  },
  components: {
    'app-notification': Notification,
  },
  props: {
    logo: {
      type: String,
      required: true,
    },
    logoutUrl: {
      type: Object,
      required: true,
    },
    user: {
      required: true,
      type: Object,
    },
    version: {
      default: '-',
      type: String,
    },
    route: {
      required: true,
      type: Object,
    }
  },
  mounted() {
    if (Cookies.get('menu-sidebar') !== undefined && Cookies.get('menu-sidebar') !== '') {
      if (Cookies.get('menu-sidebar') === 'opened') {
        $('.hamburger').removeClass('is-active');
        $('.sidebar-mini').addClass('sidebar-open');
        $('body').addClass('sidebar-collapse');
      } else {
        $('.hamburger').addClass('is-active');
        $('.sidebar-mini').removeClass('sidebar-open');
        $('body').removeClass('sidebar-collapse');
      }
    }
  },
  computed: {
    urlToApiLogout() {
      return this.logoutUrl.api;
    },
    urlToBlinkLogout() {
      return this.logoutUrl.blink;
    }
  },
  methods: {
    toggleMenu() {
      if (!$('body').hasClass('sidebar-collapse')) {
        $('.js-hamburger').removeClass('is-active');
        $('.sidebar-mini').addClass('sidebar-open');
        $('body').addClass('sidebar-collapse');
        $('.js-menu-filter').hide();
        Cookies.set('menu-sidebar', 'opened')
      } else {
        $('.js-hamburger').addClass('is-active');
        $('.sidebar-mini').removeClass('sidebar-open');
        $('body').removeClass('sidebar-collapse');
        $('.js-menu-filter').show();
        Cookies.set('menu-sidebar', 'closed')
      }
    },
    toggleInfo() {
      $('.dropdown.user.user-menu').toggleClass('open');
      //      $('.dropdown.user.user-menu dropdown-toggle').toggleClass('open');
    },
    logout() {
      let formData = new FormData();

      axios.post(this.urlToApiLogout, formData, {
        headers: {
          Authorization: 'Bearer ' + localStorage.getItem('token'),
          'Access-Control-Allow-Origin': '*'
        }
      }).then(response => {
        window.location = this.urlToBlinkLogout;
      })
    },
  },
}
</script>

<style lang="less">
// Global Variables
@import '../assets/less/variables';

// AdminLTE and Bootstrap
@import '../assets/bootstrap/bootstrap';
@import '../assets/admin-lte/AdminLTE';
@import '../assets/less/admin-lte-skin-blink';

// Blink
@import '../assets/less/general';
@import '../assets/less/navbar';
@import '../assets/admin-lte/dropdown';
@import '../assets/less/hamburger';
</style>

