<template>
  <li class="dropdown notifications-menu">
    <a href="#" class="dropdown-toggle" id="dropdown_notification" data-toggle="dropdown" aria-expanded="false" @click="toggleNotification">
      <i class="fa fa-bell-o"></i>
      <span class="label label-success notification-counter" v-html="notifications.length"></span>
    </a>
    <ul class="dropdown-menu">
      <li class="header clear-all-notifications">
        <div>
          Você tem <span class="notification-counter" v-html="notifications.length"></span> notificações
        </div>
        <div
          v-if="notifications.length > 0"
          class="btn btn-xs btn-danger btn-flat clear-all"
          title="Limpar todas as notificações"
          :data-user-id="user.id"
          @click="clearAllNotification()">
          Limpar Tudo
        </div>
      </li>
      <li>
        <ul class="menu">
          <li id="new_notifications" v-for="notification in notifications" v-bind:key="'notification-' + notification.id">
            <button
              type="button"
              class="btn btn-xs btn-danger btn-flat dismiss-notify pull-right"
              title="Dispensar"
              @click="dismissNotify(notification)">
              <i class="fa fa-times"></i>
            </button>
            <a
              style="pointer: default"
              @click="openNotification(notification)"
              class="js-notification">
              <i class="fa fa-comment text-warning"></i> <span v-html="notification.data.message"></span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</template>

<script>
import $ from 'jquery';
import axios from 'axios';
import Swal from 'sweetalert2'

export default{
  data: () => {
    return {
      notifications: [],
    }
  },
  props: {
    user: {
      required: true,
      type: Object,
    },
  },
  mounted() {
    this.getNotifications();
    /*setInterval(() => {
      this.getNotifications();
    }, 5000)*/
  },
  methods: {
    getNotifications() {
      axios.get(`${this.$bildDomain}/api/notifications`, {
        headers: {
          Authorization: 'Bearer' + localStorage.getItem('token'),
          'Access-Control-Allow-Origin': '*'
        }
      }).then(response => {
        this.notifications = response.data.data;
      });
    },
    markAsRead(notification) {
      return new Promise((resolve, reject) => {
        let id = notification.id;
        let form = new FormData();

        axios.post(`${this.$bildDomain}/api/notifications/${id}/mark-as-read`, form, {
          headers: {
            Authorization: 'Bearer' + localStorage.getItem('token'),
            'Access-Control-Allow-Origin': '*'
          }
        }).then(response => {
          let result = response.data;
          if (result.success)
            resolve(result.message);
          else
            reject(result.message)
        });
      })
    },
    async dismissNotify(notification) {
      this.$loading.start()
      try {
        let result = await this.markAsRead(notification);
        this.getNotifications();
        this.toggleNotification()
        this.$loading.stop()
      } catch(e) {
        this.$loading.stop()
        Swal.fire('Erro inesperado!', 'Não foi possível concluir a solicitação. Tente novamente mais tarde.', 'error')
      }
    },
    async openNotification(notification) {
      try {
        let result = await this.markAsRead(notification);
        if (notification.data.link && notification.data.link != '#')
          location.href = notification.data.link;
      } catch(e) {
        Swal.fire('Erro inesperado!', 'Não foi possível concluir a solicitação. Tente novamente mais tarde.', 'error')
      }
    },
    clearAllNotification() {
      let bildDomain = this.$bildDomain;

      Swal.fire({
        title: "Limpar todas as notificações?",
        text: "Ao confirmar não será possível voltar atrás.",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: `Sim, desejo continuar!`,
        confirmButtonColor: '#ac2925',
        cancelButtonText: 'Cancelar',
        allowEscapeKey: false,
        showLoaderOnConfirm: true,
        allowOutsideClick: false,
        preConfirm: () => {
          return fetch(`${bildDomain}/api/notifications/mark-all-as-read`, {
            method: 'post',
            headers: {
                Authorization: 'Bearer' + localStorage.getItem('token'),
                'Access-Control-Allow-Origin': '*'
              },
            }).then((response) => response.json()).then(response => {
              if (!response.success)
                throw new Error(response.message)
            }).catch(error => {
              Swal.showValidationMessage(`Ocorreu um erro ao processar: ${error}`)
            });
        }
      }).then(response => {
        if (response.value) {
          this.getNotifications();
          this.toggleNotification();
        }
      }).catch(err => {
        Swal.fire('Erro inesperado!', 'Não foi possível concluir a solicitação. Tente novamente mais tarde.', 'error')
      });
    },
    toggleNotification() {
      $('.dropdown.notifications-menu').toggleClass('open');
    },
  },
}
</script>

<style scoped>

</style>

