.vs__dropdown-toggle {
  border-radius: 0px !important;
  font-size: 14px;
  height: 32px;
  color: #555555;
  background-color: #fff !important;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding: 1px 0 1px !important;
}

.vs__dropdown-option {
  line-height: 1.9 !important;
  font-size: 14px;
  font-weight: normal;
}

.vs__dropdown-menu {
  padding: 5px 0 0 0;
  z-index: 9999;
}

.vs__no-options {
  text-align: center;
  padding: 3px;
  font-size: 14px;
  line-height: 1.8;
}

.vs__selected {
  font-weight: normal;
}
.vs__clear {
  display: none;
}

.vs__dropdown-option--highlight {
  background: #337ab7 !important;
}

.vs__open-indicator {
  path {
    display: none;
  }
}
.vs__actions {
  position: relative;

  &:before {
    content: '';
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    height: 0;
    right: 11px;
    margin-left: -4px;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 0;
  }
}

.vs--open {
  .vs__actions {
    position: relative;

    &:before {
      border-color: transparent transparent #999;
      border-width: 0 4px 4px;
    }
  }
}

.vs__selected-options {
    overflow: hidden;
}

.select2-container--open .select2-dropdown {
  margin-top: -30px !important;
}

.select2-container--bootstrap .select2-results__option {
  padding: 0 12px;
  line-height: 32px;
  font-size: 14px;
  height: 32px;
}

.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  border: none !important;
  box-shadow: none !important;
}
.vs--searchable .vs__dropdown-toggle {
  cursor: text;
  overflow: hidden;
}
