@font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-condensed: "Roboto Condensed", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
// @base-color: #f98d00;
@base-color: #fb8b34;
@base-color-hover: #d86812;
@bg-dark: #455a65;
@bg-dark-hover: #374850;
@bg-dark-text-color: #dfe2e5;
@silver: #dfe2e5;
@bg-light-text-color: @bg-dark;

@light-border: solid 0.5px #dcdcdc;
@light-gray: #dcdcdc;

@blue-gray: #7f8fa4;

@input-color: @bg-dark;
@input-border-color: @blue-gray;

@inactive-input-color: @silver;
@inactive-input-border-color: @silver;

@dark-sky-blue: #4a90e2;
@medium-blue: #3170bb;

@content-gutter: 25px;

@input-heigth: 30px;
@btn-table-border: @light-border;

@light-blue-gray: lighten(@blue-gray, 20);

@btn-table-bg: #FFF;
@btn-table-color: @bg-dark;
@btn-table-bg-hover: lighten(@silver, 10);
@btn-table-border-hover: solid 0.5px @light-blue-gray;

@input-font-size: 0.95rem;

@table-row-hover-bg: rgba(243, 243, 243, 0.2);


// Media query variables. Usage: @media @sm-and-up { ... } or @media @tablet, @desktop { ... }
// Media query names like Bootstrap
@xs-and-up: ~"only screen"; // xs is the smallest size, so "xs and up" is basically "everything on a screen"
@xs-only: ~"only screen and (max-width: @{screen-xs-max})";
@sm-and-up: ~"only screen and (min-width: @{screen-sm-min})";
@sm-only: ~"only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})";
@md-and-up: ~"only screen and (min-width: @{screen-md-min})";
@md-only: ~"only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})";
@lg-and-up: ~"only screen and (min-width: @{screen-lg-min})";
@lg-only: @lg-and-up;
// Media query names like how we talk in the project (although "true" responsive webdesign shouldn't use these terms)
@print: ~"print";
@mobile: @xs-only; // Don't use this if you're using other sizes too, because Mobile First should be the default.
@tablet: @sm-only;
@desktop: @md-and-up;
