<template>
<div class="wrapper">
    <main-header
    :logo="'http://b-link.local:8084/img/blink.png'"
    :user="{name: 'Admin', created_at: '2019-10-10', image: 'http://b-link.local:8084/img/bildzito.jpg'}"
    :version="'2'"
    :route="{releases: '/', logout: '/logout', user_edit: '/admin/users/1/edit'}"
    :notifications="notifications"
    ></main-header>
    <main-sidebar v-if="loadSidebar" :items="items"></main-sidebar>
    <div class="content-wrapper" style="min-height: 926px;"></div>
  </div>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
import MainSidebar from './components/MainSidebar.vue'
import MainHeader from './components/MainHeader.vue'

export default {
  name: 'app',
	data: () => {
		return {
      items: [],
      loadSidebar: false,
      notifications: [],
		}
	},
  components: {
    'main-sidebar': MainSidebar,
    'main-header': MainHeader
  },
	mounted() {
		this.getItems();
    this.getNotifications();

    setTimeout(() => {
      this.getNotifications();
    }, 10000);
	},
	methods: {
		getItems() {
			axios.get('http://b-link.local:8084/api/main-sidebar').then(response => {
				this.items = response.data.data;
        this.loadSidebar = true;
			})
		},
    getNotifications() {
			axios.get('http://b-link.local:8084/api/notifications').then(response => {
        this.notifications = [];
        this.notifications = response.data.data;
			})
    }
  }
}
</script>

<style lang="less">
@import "~admin-lte/build/bootstrap-less/normalize.less";
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
